<!DOCTYPE html>
{% load static %}


<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>NoteOfTheEverything</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>
<style>
.navbar-nav li:hover > ul.dropdown-menu {
    display: block;

}
.dropdown-submenu {
    position:relative;


}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
    border-radius: 50px;


/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);


}

</style>
<body class="g"  >
{% if user.is_authenticated %}
<nav class="navbar navbar-inverse" style="height:82px; background-color:#370606 ; border-radius: 10px;" >

  <div class="container-fluid">
    <div class="navbar-header" style="margin-left: 2rem !important;margin-top: 0,9rem !important">
      <a  href="{% url 'note_list' %}"><img src="{% static 'images/logoson.gif' %}" style="height: 80px; width: 90px"><img src="{% static 'images/logoyazı2.png' %}" style="height: 64px; width: 270px"></a>


    </div>

    <ul class="nav navbar-nav" style="margin-left:520px" >
      <br>
      <li class="active"><a  style="color:#370606;background-color:#e7c9a2; border-radius: 10px;"><b>Welcome, {{request.user.registereduser.username}} </b></a></li>
    {% if requested_user_type.user_type == 'A' %}
         <li><a href="{% url 'admin_pending_notes' %}" style="color:#370606;background-color:#e7c9a2;margin-left: 4rem !important; border-radius: 10px; ">Pending Notes</a></li>
                <li><a href="{% url 'logout' %}" style="height:50px;margin-left: 4rem !important; color:#e7c9a2">
              <span class="glyphicon glyphicon-log-out"></span> Log out
                </a></li>
    {% else %}
           <li ><a href="{% url 'ShareNote' %}" style="color:#e7c9a2;margin-left: 2rem !important;"><b>Share Note</b> </a></li>

         <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#e7c9a2;margin-left: 1rem !important;"><b>My Account</b> <span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color:#e7c9a2; border-radius: 10px;">
                    <li><a class="dropdown-item" href="{% url 'my_notes' %}">My Notes</a></li>
                    <li><a class="dropdown-item" href="{% url 'note_favourite_list'  %}">My Favorite Notes</a></li>
                    <li><a class="dropdown-item" href="{% url 'change_username' %}">Change Username</a></li>
                    <li><a class="dropdown-item" href="{% url 'change_password' %}">Change Password</a></li>
                    <li><a class="dropdown-item" href="{% url 'change_email' %}">Change Email</a></li>
                </ul>
            </li>
       <li >


      <a href="{% url 'logout' %}" style="height:50px;margin-left: 4rem !important; color:#e7c9a2">
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </a>
    {% endif %}
</li>
    </ul>


  </div>
</nav>
{% else %}
   {% include 'home/loginpage.html' %}
{% endif %}

{% block content %}
{% endblock %}

{% include 'home/chatbot.html' %}
<!--<form method="POST" action="">-->
<!--	{% csrf_token %}-->
<!--            <input  name="user_sentence" id="user_sentence" maxlength="200">-->

<!--</form>-->


</body>
</html>


<style>

    body.g {
        background-image: url('/static/images/background2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;

    }

</style>
